.claude
.agent
bark-server
Bark
prototype/
MoeMemos
*.mode*v*
*.pbxuser
*.xccheckout
#*.xcbkptlist
#*.xcscheme
#*.xcworkspacedata
*.xcuserstate
build/
Pods/
.DS_Store
._.*
xcuserdata
buildServer.json
